.user {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);

    height: 500px;
    width: 350px;

    background-color: #211f1f;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 40px;
    box-sizing: border-box;
     border: none;
}


/* Remove button */
.remove {
    position: absolute;
    top: 20px;
    right: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;

    height: 40px;
    width: 40px;

    border-radius: 10px;

    cursor: pointer;
}

.remove:hover {
    background-color: #333131;
}


/* User image */
.imguser {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;

    height: 70px;
    width: 70px;

    border-radius: 50%;
    border: 1px solid rgb(233, 227, 227);

    margin-bottom: 40px;
}


/* Username */
.username {
    height: 50px;
    width: 220px;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: #FFF;
    border: none;
    outline: none;
   
}


/* Password */
.userpass {
    height: 50px;
    width: 220px;
    border-radius: 10px;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: #FFF;
    margin-bottom: 20px;
   border: none;
   outline:none ;
}


/* Button */
.button {
    height: 45px;
    width: 150px;

    cursor: pointer;

    border: none;
    border-radius: 8px;
    margin-top: 10px;
}



/* Hide */
.displaynone {
    display: none;
}

.login{
     height: 45px;
    width: 150px;

  cursor: pointer;

    border: none;
    border-radius: 8px;
     margin-top: 0px; 
}

.alerttext {
    font-family: Arial, sans-serif;
    width: 250px;
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
     border-radius: 8px;
     background: #1f2937;
    color: #eccb47;
    border: 1px solid #374151;
    font-size:13px;

   
}
.messge{
  height: 45px;
     font-family: Arial, sans-serif;
    width: 250px;
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
     border-radius: 8px;
     background: #FFF;
    color: #06f522;
    border: 1px solid #33f702;
    font-size:13px;
}
.blurcontent > *:not(.user) {
    filter: blur(4px);
    transition: filter 0.3s ease;
}

@media (max-width: 1250px ) and (min-width:750px) {
    .user{
         
    position: absolute;
    top: 300px;
    }

}

@media (max-width:749px) and (min-width:300px){

     .user{
         
    position: absolute;
    top: 90px;
    height: 450px;
    width: 270px;
    margin-left: 30px;
    background: transparent;

    }
    .messge{
        width:200px;
        height: 35px;
    }
}